<h1>Listing preventive_procedures</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Monitoring time</th>
    <th>Control amount</th>
    <th>Control responsable</th>
    <th>Control measure</th>
    <th>Risk matrix</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @preventive_procedures.each do |preventive_procedure| %>
  <tr>
    <td><%= preventive_procedure.id %></td>
    <td><%= preventive_procedure.monitoring_time %></td>
    <td><%= preventive_procedure.control_amount %></td>
    <td><%= preventive_procedure.control_responsable %></td>
    <td><%= preventive_procedure.control_measure %></td>
    <td><%= preventive_procedure.risk_matrix_id %></td>
    <td><%= link_to 'Destroy', preventive_procedure, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Preventive procedure', new_preventive_procedure_path() %>
