<div class="well">

  <%= simple_form_for [@company, @work_area] do |f| %>
    <% if @work_area.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@work_area.errors.count, "error") %> prohibited this work_area from being saved:</h2>

        <ul>
        <% @work_area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :'Nombre del Área' %><br />
      <%= f.text_field :name, :class => "input-medium search-query", style: "width:400px" %>
    </div>
    <div class="field">
      <%= f.label :"Descripción del Área" %><br />
      <%= f.text_field :description, :class => "input-medium search-query", style: "width:400px" %>
    </div>

    <div class="modal-footer">
      <center>
        <% if @boton == 'Agregar'%>
          <div class="actions">
            <button type="submit" class="btn btn-success">
              <i class="icon-ok"> Agregar</i>
            </button>
            <i>
              
              <%= link_to ' Atras', company_path(@company.id), :class => "icon-arrow-left btn" %>
            </i>
        <% else %>    
          <div class="actions">
            <button type="submit" class="btn btn-warning"> 
              <i class="icon-refresh"> Actualizar</i>
            </button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <% end %>
      </center>
   </div>

  <% end %>
</div>