<%= form_tag @user , :action =>'guardar_actualizar_datos' do -%>

<div class="field">
    <%= label_tag :RUT %>
    <%= text_field_tag "run",@user.run %>
  </div>
  <div class="field">
    <%= label_tag :'Nombre de Usuario' %>
    <%= text_field_tag "username", @user.username%>
   </div>
  <div class="field">
    <%= label_tag :'Apellido Paterno' %>
    <%= text_field_tag "lastname", @user.lastname%>
  </div>
  <div class="field">
    <%= label_tag :'Apellido Materno' %>
    <%= text_field_tag "surname", @user.surname%>
  </div>
  <div class="field">
    <%= label_tag :Telefono %>
    <%= number_field_tag "phono", @user.phono%>
  </div>
  <div class="field">
    <%= label_tag :'E-mail' %>
    <%= text_field_tag "email" , @user.email%>
  </div>
  <div class="actions">
    <%= submit_tag @boton, :class => "btn btn-warning" %>
  </div>
  <%end-%>