
<div class="well">

  <%= form_tag :action =>'update_password' do %>
   

    <div class="field">
      <%= label_tag :password_actual %><br />
      <%= password_field_tag :old_password %>
    </div>
    <div class="field">
      <%= label_tag :nuevo_password %><br />
      <%= password_field_tag :nuevo_password %>
    </div>
    <div class="field">
      <%= label_tag :confirmar_nuevo_password %><br />
      <%= password_field_tag :password_confirmation %>
    </div>
    <div class="actions">
      <%= submit_tag @accion, :class => "btn btn-success"%>
   
    <%end%>

