<div class="well">

  <%= simple_form_for [@activity, @unitary_task] do |f| %>
    <% if @unitary_task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@unitary_task.errors.count, "error") %> prohibited this unitary_task from being saved:</h2>

        <ul>
        <% @unitary_task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :'Nombre de la Tarea' %><br />
      <%= f.text_field :description, :class => "input-medium search-query", style: "width:400px"  %>
    </div>

    <div class="modal-footer">
      <center>
        <% if @boton == 'Agregar'%>
          <div class="actions">
            <button type="submit" class="btn btn-success">
              <i class="icon-ok"> Agregar</i>
            </button>
            <i>
              <%= link_to ' Atrás', work_flow_activity_path(@work_flow.id, @activity.id), :class => "icon-arrow-left btn" %>
            </i>
        <% else %>    
          <div class="actions">
            <button type="submit" class="btn btn-warning"> 
              <i class="icon-refresh"> Actualizar</i>
            </button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <% end %>
      </center>
    </div>

  <% end %>
</div>