<div class="well">
  <%= form_for(@damage) do |f| %>
    <% if @damage.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@damage.errors.count, "error") %> prohibited this damage from being saved:</h2>

        <ul>
        <% @damage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>





    <div class="field">
      <%= f.label :'Descripción:' %><br />
      <%= f.text_field :description, :class => "input-medium search-query", style: "width:450px" %>
    </div>
    
    <div class="modal-footer">
      <center>
        <% if @boton == 'Agregar'%>
          <div class="actions">
            <button type="submit" class="btn btn-success">
              <i class="icon-ok"> Agregar</i>
            </button>
            <i>
              <%= link_to ' Atrás', damages_path , :class => "icon-arrow-left btn" %>
            </i>
        <% else %>    
          <div class="actions">
            <button type="submit" class="btn btn-warning"> 
              <i class="icon-refresh"> Actualizar</i>
            </button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <% end %>
      </center>
    </div>

    <!--

    <div class="actions">
      <%= f.submit @boton, :class => "btn btn-warning" %>
    </div>

    -->

  <% end %>



</div>