<%= form_for(@matrix_header) do |f| %>
  <% if @matrix_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matrix_header.errors.count, "error") %> prohibited this matrix_header from being saved:</h2>

      <ul>
      <% @matrix_header.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unitary_task_id %><br />
    <%= f.number_field :unitary_task_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
