<div class="well">

<%= form_for @danger do |f| %>
  <% if @danger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@danger.errors.count, "error") %> prohibited this danger from being saved:</h2>

      <ul>
      <% @danger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :"Nombre Peligro" %><br />
    <%= f.text_field :description, :class => "input-medium search-query", style: "width:400px" %>
  </div>

  <div class="modal-footer">
      <center>
        <% if @boton == 'Agregar'%>
          <div class="actions">
            <button type="submit" class="btn btn-success">
              <i class="icon-ok"> Agregar</i>
            </button>
            <i>
              <%= link_to ' Atrás', @danger, :class => "icon-arrow-left btn" %>
            </i>
        <% else %>    
          <div class="actions">
            <button type="submit" class="btn btn-warning"> 
              <i class="icon-refresh"> Actualizar</i>
            </button>
            <!--
            <%= link_to 'Cancelar', dangers_path, :class => "btn" %>

            -->
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            
        <% end %>
      </center>
    </div>

<!--


  <div class="actions">
    <%= f.submit @boton, :class => "btn btn-warning" %>
  </div>
-->
<% end %>
</div>


<!--
<%= form_for @danger do |f| %>
  <% if @danger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@danger.errors.count, "error") %> prohibited this danger from being saved:</h2>

      <ul>
      <% @danger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :"Nombre Peligro" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit @boton, :class => "btn btn-warning" %>
  </div>

<% end %>
-->